<div ng-include="'partials/navbar'"></div>

<form name="form"
      ng-submit="register(form)">
    
    <div>
        <input type="text"  
               placeholder="Email"
               name="username"
               ng-model="user.username"
               required>
    </div>

    <div>
        <input type="password"
               placeholder="Password"
               name="password"
               ng-model="user.password"
               required>      
    </div>

    <button type="submit"> Submit </button>

</form>